<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CoreUtility.CoreSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="CoreUtility.UtilitySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Utility.UtilitySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <CoreUtility.CoreSettings>
            <setting name="LogDirectory" serializeAs="String">
                <value>\Log</value>
            </setting>
            <setting name="SQLDataSoruce" serializeAs="String">
                <value>SMARTYOONG\SQLEXPRESS</value>
            </setting>
            <setting name="SQLAccountDataBaseName" serializeAs="String">
                <value>AccountDB</value>
            </setting>
            <setting name="SQLSecurity" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SQLPoolMinSize" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="SQLPoolMaxSize" serializeAs="String">
                <value>150</value>
            </setting>
            <setting name="SQLGameDataBaseName" serializeAs="String">
                <value>GameDB</value>
            </setting>
            <setting name="SQLTimeOut" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="ReadySocketCount" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="MaxSocketCountPerGroup" serializeAs="String">
                <value>30</value>
            </setting>
        </CoreUtility.CoreSettings>
        <CoreUtility.UtilitySettings>
            <setting name="LogDirectory" serializeAs="String">
                <value>\Log</value>
            </setting>
            <setting name="SQLDataSoruce" serializeAs="String">
                <value>SMARTYOONG\SQLEXPRESS</value>
            </setting>
            <setting name="SQLAccountDataBaseName" serializeAs="String">
                <value>AccountDB</value>
            </setting>
            <setting name="SQLSecurity" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SQLPoolMinSize" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="SQLPoolMaxSize" serializeAs="String">
                <value>150</value>
            </setting>
            <setting name="SQLGameDataBaseName" serializeAs="String">
                <value>GameDB</value>
            </setting>
            <setting name="SQLTimeOut" serializeAs="String">
                <value>60</value>
            </setting>
        </CoreUtility.UtilitySettings>
        <Utility.UtilitySettings>
            <setting name="LogDirectory" serializeAs="String">
                <value>\Log</value>
            </setting>
        </Utility.UtilitySettings>
    </userSettings>
</configuration>