<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DBServer.DBServerSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <DBServer.DBServerSettings>
            <setting name="LogDirectory" serializeAs="String">
                <value>\DBServerLog</value>
            </setting>
            <setting name="GameServerAcceptCount" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="GameServerAcceptPort" serializeAs="String">
                <value>12476</value>
            </setting>
            <setting name="GameServerIPAdress" serializeAs="String">
                <value>127.0.0.1</value>
            </setting>
            <setting name="SQLGameDataBaseName" serializeAs="String">
                <value>GameDB</value>
            </setting>
            <setting name="SQLSecurity" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SQLPoolMinSize" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="SQLPoolMaxSize" serializeAs="String">
                <value>150</value>
            </setting>
            <setting name="SQLTimeOut" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="ReadySocketCount" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="MaxSocketCountPerGroup" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="SQLDataSoruce" serializeAs="String">
                <value>SMARTYOONG\SQLEXPRESS</value>
            </setting>
        </DBServer.DBServerSettings>
    </userSettings>
</configuration>