<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="LoginServer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <LoginServer.Properties.Settings>
            <setting name="GameServerConnectCount" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="GameServerPort" serializeAs="String">
                <value>12477</value>
            </setting>
            <setting name="GameServerIPAddress" serializeAs="String">
                <value>127.0.0.1</value>
            </setting>
            <setting name="ClientAcceptPort" serializeAs="String">
                <value>12475</value>
            </setting>
            <setting name="ClientAcceptCount" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="ClientAcceptIPAdress" serializeAs="String">
                <value>0.0.0.0</value>
            </setting>
            <setting name="LogDirectory" serializeAs="String">
                <value>\LoginServerLog</value>
            </setting>
            <setting name="SQLAccountDataBaseName" serializeAs="String">
                <value>AccountDB</value>
            </setting>
            <setting name="SQLSecurity" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SQLPoolMinSize" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="SQLPoolMaxSize" serializeAs="String">
                <value>150</value>
            </setting>
            <setting name="SQLTimeOut" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="ReadySocketCount" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="MaxSocketCountPerGroup" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="SQLDataSoruce" serializeAs="String">
                <value>SMARTYOONG\SQLEXPRESS</value>
            </setting>
        </LoginServer.Properties.Settings>
    </userSettings>
</configuration>