<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GameServer.GameServerSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <GameServer.GameServerSettings>
            <setting name="LoginServerAcceptCount" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="LoginServerAcceptPort" serializeAs="String">
                <value>12477</value>
            </setting>
            <setting name="LoginServerIPAddress" serializeAs="String">
                <value>127.0.0.1</value>
            </setting>
            <setting name="LogDirectory" serializeAs="String">
                <value>\GameServerLog</value>
            </setting>
            <setting name="DBServerConnectCount" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="DBServerConnectPort" serializeAs="String">
                <value>12476</value>
            </setting>
            <setting name="DBServerIPAdress" serializeAs="String">
                <value>127.0.0.1</value>
            </setting>
            <setting name="ClientAcceptPort" serializeAs="String">
                <value>12474</value>
            </setting>
            <setting name="ClientAcceptCount" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="ClientAcceptIPAdress" serializeAs="String">
                <value>0.0.0.0</value>
            </setting>
            <setting name="ReadySocketCount" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="MaxSocketCountPerGroup" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="ResourceDicrectory" serializeAs="String">
                <value>D:\ProjectKJ\GameServer\ProjectKJServers\Resource</value>
            </setting>
            <setting name="MaxSpeed" serializeAs="String">
                <value>300</value>
            </setting>
            <setting name="MaxAccelrate" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="MaxRotation" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="BoardRadius" serializeAs="String">
                <value>5</value>
            </setting>
        </GameServer.GameServerSettings>
    </userSettings>
</configuration>